@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}


.nav-list-item{
    @apply cursor-pointer font-bold opacity-90 tracking-wider
}

.btn{
    @apply cursor-pointer p-3  ml-2 rounded-lg capitalize font-bold tracking-widest w-full mt-5 grid place-content-center transition duration-300 ease-in-out
}

.btn:hover{
    @apply bg-[#081b29]
}

.bar{
    @apply w-[30px] h-1 bg-white rounded-sm cursor-pointer
}

.box{
    @apply w-[80%] border-2 border-[#00abf0] rounded-lg p-2 mb-5 flex gap-5 flex-col mt-3 
}

.box p {
    @apply  opacity-90
}

.box h1 {
    @apply text-[1.1em] tracking-wider
}

.box progress::-webkit-progress-value {
    @apply text-white
}

div input, div textarea{
    @apply  p-4 ml-2 bg-[#112e42] text-white border-[1px] border-white rounded-md md:w-auto w-full mb-3
}

.hamburger{
    @apply md:w-[50%]  shadow-lg shadow-black gap-0 flex-col flex bg-[rgba(0,0,0,0.79)] pt-5 pb-5 z-50 text-white absolute w-[80%] left-[50%] top-[10%] rounded-md  translate-x-[-50%] text-center animate-pulse
    
}

.hamburger .nav-list-item{
    @apply w-full m-0 p-2 mb-5 transition duration-300 ease-in-out
}

.hamburger .nav-list-item:hover{
   @apply bg-white text-black 
}

.active .bar:nth-child(2){
    @apply opacity-0
}
.active .bar:nth-child(1){
    @apply rotate-45
}
.active .bar:nth-child(3){
    @apply -rotate-45 -translate-y-4    
}