* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Outfit, Verdana, Geneva, Tahoma, sans-serif;
    /* color: white; */
    scroll-behavior: smooth;
}

a{
    color: grey;
    text-decoration: none;
}

body,
html {
    background: rgb(2, 20, 38);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0;
    color: white;
}

header .list-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-items .list-item {

    list-style: none;
    margin: 0 20px;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(164, 164, 164) !important;
    font-weight: 800;
}

.list-item li:hover {
    color: white;
}

header .btn {
    padding: 10px 20px;
    background: none;
    border: 1px solid grey;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    border-radius: 30px;
}

header .btn:active {
    transform: scale(0.97);
}

header .btn::after {
    content: '>>';
    margin: 10px;
    font-family: cursive;
}

.container {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #070428;
    border-top-right-radius: 1000px;
    border-bottom-left-radius: 1000px;

}

.container .bg {
    background: rgb(6, 36, 81);
    color: white;
    width: 68vw;
    padding: 30px;
    height: 36dvh;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.bg img {
    width: 50%;
    border-radius: 50%;
}

.bg>div {
    line-height: 2;
    padding: 30px;
}

.cont {
    min-width: 100%;
    padding: 30px;
    color: grey;
    height: auto;
    line-height: 3;
    text-align: center;
}

#skills>div {
    width: 100%;
}

.top {
    display: flex;
    padding: 20px;
    gap: 10px;
    font-size: 1.2rem;
    color: #7a7985;

}

#skills>.content {
    width: 100%;
    padding: 40px;
    display: grid;
    grid-template: 1fr 1fr 1fr / repeat(3, 1fr);
    grid-gap: 10px;
}

.content .skill {
    margin: 20px 10px;
}

.content .progress {
    width: 100%;
    background: white;
    height: 5vh;
    margin: 10px 0;
    border-radius: 4px;
    padding: 2px;
    display: flex;

}

.progress span {
    background: rgb(10, 29, 36);
    /* width: 50px; */
    height: 100%;
}


.card-group {
    margin: 20px 0;
    display: grid;
    width: 100%;
    grid-template: 1fr 1fr / repeat(2, 1fr);
    grid-gap: 20px;
    overflow-x: scroll;
}

.card-group::-webkit-scrollbar {
    visibility: hidden;
}

.card-group .card {
    width: 100%;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    /* margin: 0 20px; */
    border: 2px solid grey;
    padding: 20px;
    background: #062c4f17;
    cursor: pointer;
    border-radius: 20px;
    transition: .5s ease;
}

.card img {
    width: 80%;
    border-radius: 20px;
}

.card:nth-child(3n+1) {
    transform: scale(0.7);
}

.card:hover {
    transform: scale(0.7);
}

.card:nth-child(3n+1):hover {
    transform: scale(1);
}

#contacts>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    font-size: 0.7rem;
    border: 1px solid grey;
    box-shadow: 0px 0px 10px black;
    margin: 20px 0;
    padding: 20px;
    height: auto;
    width: 80dvh;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.contact i {
    font-size: 2rem;
}

.contact:hover {
    transform: scale(1.1);
}

.contact:nth-child(even) {
    transform: skew(5deg) translateX(20px);
}

.cont form {
    display: flex;
    width: 80dvh;
    gap: 10px;
    flex-direction: column;
}

form input {
    padding: 15px;
    font-size: 1.1rem;
    background: none;
    border: 2px solid white;
    color: white;
}

form textarea {
    resize: vertical;
    background: none;
    border: 2px solid white;
    padding: 15px;
    color: white;
    font-size: 1.1rem;
}

form button {
    padding: 15px;
    background: rgba(24, 23, 23, 0.626);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.1rem;
    text-align: center;
}

footer {
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.bar {
    width: 45px;
    height: 4px;
    background: white;
    border-radius: 20px;
    margin: 3px;
    float: right;
    text-align: right;
}

.bar:nth-child(2) {
    width: 35px;
    float: right;
}

.bar:nth-child(3) {
    width: 25px;
}

.hamburger.active .bar:nth-child(1) {
    width: 25px;
}

.hamburger.active .bar:nth-child(2) {
    width: 35px;
}

.hamburger.active .bar:nth-child(3) {
    width: 45px;
}

.hamburger nav.active {
    display: flex;
    position: fixed;
    background: #15132db2;
    padding: 30px;
    top: 100px;
    width: 100%;
    left: 0px;
    height: 100%;
    top: 0;
    color: white !important;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.hamburger nav.active .list-items{
    width: 50%;
    height: 50%;
    background: black;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
    flex-direction: column;
}

.hamburger nav.active .list-item{
    font-size: 1.2rem;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
}

.hamburger nav.active .list-item:hover, nav.active .list-item:hover li{
    background: whitesmoke;
    color: black;
}

.hamburger nav.active li{
    color: white;
}

@media screen and (max-width:768px) {
    header nav {
        display: none;
    }


    * {
        flex-direction: column;
    }

    header {
        flex-direction: row;
    }

    .top {
        flex-direction: row;
    }

    .cont .content {
        display: flex !important;
    }

    .content .skill {
        margin: 0;
    }

    .skill .progress {
        height: 3vh;
    }

    #projects .card-group {
        display: flex !important;
        flex-direction: column !important;
    }

    .contact {
        width: 100%;
        overflow: hidden;
        font-size: 0.6rem;
    }

    form,
    form * {
        width: 100% !important;
    }

    form button {
        text-align: center !important;
    }

    .bg {
        flex-direction: column-reverse;
    }

    .hamburger{
        display: flex;
    }
}