:root {
  font-family: roboto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: white;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

}
button{
  cursor: pointer;
}
*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.header *{
  text-transform: capitalize;
}

.header{
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 30px rgba(128, 128, 128, 0.353);
  width: 100%;
  padding:1em;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99999999;
}

.header div{
  display: flex;
  align-items: center;
}
.header ul{
  display: flex;
  list-style-type: none;
}
.header ul li{
  margin: 0 1em;
}
.header ul li a{
  text-decoration: none;
  color: rgb(94, 94, 94);
  font-weight: bolder;
}

.header button{
  padding: 0.6em;
  font-weight: bold;
}

.body{
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
  margin-top:1em;
  z-index: -1;
  display: grid;
  place-content: center;
}

.container{
  margin: 0 auto;
  width: 100%;
  padding: 2em;
}

.container.about-container{
  padding: 2em;
  margin-top: 2em auto;
  display: flex;
  width: 100%;
  height: 100dvh;
  justify-content: space-around;
  flex-direction: row;
  /* background: whitesmoke; */
}

.about-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-container h2, .container h2{
  color: rgb(57, 57, 57);
  font-size: 2em;
}

.about-container p, .container p{
  font-weight: lighter;
  font-size: 0.9em;
  color: rgb(87, 87, 87);
  line-height: 2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-container .btn-div{
  padding: 1em;
  display: flex;align-items: center;
  justify-content: center;

}

.bg-text{
  position: absolute;
  z-index: -111111;
  /* background: grey; */
  color: rgba(157, 157, 157, 0.119);
  font-size: 7em;
  /* top: 2em; */
}
.bg-text::after{
  content: '.';
  width: 100px;
  /* background: black; */
  height: 100px;
}
.about-container .btn-div button{
  margin: 0 1em;
  padding: 1em;
  border-radius :0.3em;
  cursor: pointer;
  border: none;
}

.icons{
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
}

.icons span{
  background: grey;
  color: white;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

@media screen  and (max-width:768px){
  .header{
    justify-content: space-around;
  }
  .header ul{
    display: none;
  }
}

@media screen  and (max-width:1100px){
  .container.about-container>.img-div, .img-div{
    display: none;
  }
  .container.about-container{
    display: inline-block;
    height: 100dvh;
    width: 100%;
    border: 1px solid ;
    text-align: center;
  }
  .about-container *{
    text-align: center;
  }
  .container.about-container > *{
    padding: 1110em;
    /* line-height: 0; */
    /* border: 2px solid; */
    padding: 0;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.form-div{
  margin: 1.4em auto;
}
.form-div input, textarea{
  background: rgba(182, 182, 182, 0.418);
  border: none;
  color: rgb(74, 70, 70);
  width: 100%;
  resize: vertical;
  /* width: 100dvw; */
  font-weight: bold;
  padding: 1.2em;
}

input:focus,
textarea:focus{
  outline: 1px solid black;
}

@media screen and (max-width: 400px) {
  .btn-div {
    flex-direction: column;

  }
  .btn-div button{
    width: 100px;
    margin: 1em 0 !important;
  }
}

.loader{
  width: 100%;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  display: grid;
  place-content: center;
}

.loader .loading-component{
  width: 50px;
  height: 50px;
  background: white;
  border: 4px solid black;
  border-bottom: 4px solid white;
  border-radius: 50%;
  animation: loader 1s infinite ease-in-out forwards;
}

@keyframes loader {
from{
  transform: rotate(0deg);
}
to{
  transform: rotate(360deg);
}
}